* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: white;
    height: 100vh;
}

.left-logo {
    display: flex;
    width: 30%;
}

.odin-logo {
    position: absolute;
}

.image {
    width: 100%;
}

.odin {
    color: white;
    background-color: black;

}