* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: white;
    height: 100vh;
}

.left-logo {
    display: flex;
    width: 30%;
    position: relative;
}

.logo-background {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    height: 145px;
    width: 100%;
    top: 13em;
}

.odin-logo {
    position: absolute;
    width: 100px;
    top: .5em;
    right: 20em;
}

.image {
    width: 100%;
}

.odin {
    color: white;
    position: absolute;
    top: .4em;
    right: 2em;
    font-family: Norse;
    font-size: 90px;
}